.places__image {
  width: 460px;
  height: 460px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .places__image {
    width: 440px;
    height: 440px;
  }
}

@media screen and (max-width: 1024px) {
  .places__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 1024px) {
  .places__image {
    width: 320px;
    height: 320px;
    margin-bottom: 2px; /* here to make up for random extra 2px after this item */
  }
}
