.route__cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../../images/cover-route-66.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
  transition: opacity 0.3s;
}
